[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/UniStaker"]
	path = lib/UniStaker
	url = https://github.com/uniswapfoundation/UniStaker
[submodule "lib/arbstaker"]
	path = lib/arbstaker
	url = https://github.com/withtally/arbstaker
